/* Resetando alguns estilos padrões */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f0bfe4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.flashcards {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* Mudando para 4 cards por linha */
    gap: 20px;
    padding: 20px;
    max-width: 1000px;
}

.card {
    background-color: #b0f3fc;
    border: 2px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 200px;
    height: 200px;
    position: relative;
    transform-style: preserve-3d;
    transition: transform 0.5s ease-in-out;
}

.card:hover {
    transform: rotateY(180deg); /* Efeito de flip */
}

.card .question,
.card .answer {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden; /* Impede que o conteúdo do verso apareça ao virar o card */
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.question {
    font-size: 18px;
    font-weight: bold;
    background-color: #bdffde;
    color: #333;
    z-index: 2; /* Fica na frente inicialmente */
}

.answer {
    font-size: 16px;
    color: #070707;
    background-color: #87f0bb;
    opacity: 0;
    visibility: hidden;
    transform: rotateY(180deg); /* A resposta começa virada para o verso */
    z-index: 1; /* Fica atrás inicialmente */
    display: flex;
    justify-content: center;
    align-items: center;
}

.card:hover .answer {
    opacity: 1;
    visibility: visible;
    z-index: 2;
}

