/* Resetando alguns estilos padrões */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f0bfe4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.flashcards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    padding: 20px;
    max-width: 800px;
}

.card {
    background-color: #b0f3fc;
    border: 2px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 200px;
    height: 150px;
    position: relative;
    overflow: hidden;
    transition: transform 0.3s;
}

.card:hover {
    transform: translateY(-10px);
}

.question {
    font-size: 18px;
    font-weight: bold;
    padding: 20px;
    background-color: #bdffde;
    height: 100%;
}

.answer {
    font-size: 16px;
    color: #070707;
    padding: 20px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #87f0bb;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
}

.card:hover .answer {
    opacity: 1;
    visibility: visible;
}

